table.tableBox {
    width: 100%;
    max-width: 760px;
    margin: 0 auto 50px;
    border: 3px solid #000;
    border-collapse: collapse;
}

thead.tableHead {
    font-size: 36px;
    color: #fff;
    background: #412c2c;
}

th.tableHeadText {
    border-right: 3px solid #000;
}

tbody.tableBody {
    font-size: 28px;
}

tr {
    border: 3px solid #000;
}
tr:nth-child(even) {
    background-color: rgb(187, 185, 183);
}

